.resume-container {
  display: flex;
  gap: 50px;
  flex-direction: column;

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    flex-direction: row;
    gap: 10px;

    .title {
      span {
        color: var(--color-papaya-whip);
      }
    }

    .download-button {
      background-color: var(--color-tea-green);
      border-radius: 5px;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 16px;
      padding: 10px 20px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--color-beige);
      }
    }
  }


  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .proficiencies-container {
      display: grid;
      gap: 50px;
      grid-template-columns: repeat(4, 1fr);

      .proficiency-list {
        display: flex;
        flex-direction: column;
        font-size: .9rem;
        gap: 10px;
      }
    }
  }
}