.nav-list {
  .list-item {
    a {
      padding: 5px;
      border: 2px solid transparent; /* transparent border to start with to allow for smooth transition when active */
    }
  
    a.active {
      color: var(--color-buff);
      border: 2px solid var(--color-buff);
      transition: color 0.3s ease, border 0.3s ease; /* Adds a smooth transition effect to the color and border */
    }
  
    /* Non active links */
    a:not(.active) {
      border-bottom: 2px solid transparent;
      padding-bottom: 5px; /* Adds space between the text and the border */
      transition: border-bottom 0.3s ease; /* Adds a smooth transition effect */
    }
  
    /* Non active links on hover styling */
    a:not(.active):hover {
      border-bottom: 2px solid var(--color-buff);
    }
  }

}
